<!DOCTYPE html>
<html>
  <head>
    <title>URL Shortener</title>
    <link rel="stylesheet" href="/style.css"> 
  </head>
  <body>
    <h1>
      Hi!
    </h1>
    <h2>
      Append your favorite url as a param like so:
    </h2>
    <code>https://micro-url.glitch.me/yourURL</code>
    <h3>
      and I will give you a unique number such as <code>9367</code></h3><p>appended to
      <code>https://micro-url.glitch.me/</code><br>like so: <code>https://micro-url.glitch.me/9367</code><br></p>
      <p>
        This number will be your <strong>semi-permanent</strong> best friend so keep it safe!
    </p>
    
  </body>
</html>